# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/

# =========================
# Entornos / Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Datos locales (Postgres/pgAdmin)
# =========================
pgdata/
pgadmin-data/

# =========================
# Claves / Certificados
# =========================
backend/keys/*.key
backend/keys/*.pem
*.pfx
*.crt
*.key

# =========================
# Módulo moderation
# =========================
moderation/.venv/
moderation/*.egg-info/

# =========================
# Node / Flutter
# =========================
node_modules/
.dart_tool/
build/

# =========================
# IDE / SO
# =========================
.vscode/
.idea/
